
// ----------------------
// Palette

// zenbanx

$purple : #642b8f
$lighter_purple : #6d3794

$light_purple : #b17ad8
$darker_purple : #4b1572

// zen button

$zen_gradient_top : #ef4746
$zen_gradient_bottom : #f15e3a
$zen_rollover_top : #ef4746
$zen_rollover_bottom : #f15e3a
$zen_border : #dc2a29

// Brights

$orange : #FF9F19
$light_orange : #fecf8c
$faint_orange : #ffecd1
$dark_orange : #fa8a18

// Grayscale

$white : #FFF
$off_white : #f7f7f7

$gray : #707070
$light_gray : #c3c3c3
$faint_gray : #f4f4f4

$dark_gray : #313442
$text_color : $dark_gray

$off_black : #222

// ----------------------
// Text

.white
    color: $white
.off-white
    color: $off_white

.gray
    color: $gray
.light-gray
    color: $light_gray
.faint-gray
    color: $faint_gray
.dark-gray
    color: $dark_gray

.off-black
    color: $off_black

// ----------------------
// Backgrounds

.bg-white
    background-color: $white
.bg-off-white
    background-color: $off_white

.bg-gray
    background-color: $gray
.bg-light-gray
    background-color: $light_gray
.bg-faint-gray
    background-color: $faint_gray
.bg-dark-gray
    background-color: $dark_gray

.bg-off-black
    background-color: $off_black

