
// -----------------------------------------
// get our imports out of the way

@import 'colors'
@import 'constants'
@import 'fonts'

@import 'mixins'
@import 'properties'
@import 'typography'


// -----------------------------------------
// html elements

html
    background: #a09fa0 

html, body 
    padding: 0
    margin: 0

body
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif
    font-weight: 300
    color: $text_color


a
    color: $purple

    &:hover
        color: $darker_purple

    &.inverse
        background-color: $orange
        color: $white   

        &:hover
            background-color: $dark_orange !important


h1, h2, h3, h4, h5, h6
    font-weight: 100

h1,h2
    color: $purple
    padding-bottom: 2.8rem
    padding-top: 2rem
    font-weight: 300

h1
    font-size: 35px
    line-height: 50px
    max-width: 640px
    text-align: center
    margin: 3.6rem auto 2rem auto
    font-weight: 100

h2
    font-size: 30px
    line-height: 45px

h2.title
    margin-top: 80px


input.larger
    font-size: 18px


p
    color: $gray

p.copy
    font-size: 18px
    color: $gray
    line-height: 28px

p.larger
    font-size: 18px

p.fineprint
    font-size: 0.9rem


.centered
    text-align: center

.tm
    font-size: 1.3rem
    display: inline-block

// wrappers

.page-wrapper

    background-color: $white
    width: 100%
    max-width: $max_width
    margin: auto
    padding: 0

.content-wrapper,
.negative-wrapper
    
    max-width: $max_width
    margin: auto
    padding: 1em

    &.squashed
        padding-top: 0
        padding-bottom: 0


// layout components

.cell-parent
    display: table
    background: tan

.cell-child
    display: table-cell
    vertical-align: middle


// video

video#bgvid
    position: absolute
    right: 0 
    bottom: 0
    min-width: 100% 
    min-height: 100%
    width: auto 
    height: auto 
    z-index: 1
    background: url('/assets/img/banner-main.png') no-repeat
    background-size: cover
    display: block

    @media screen and ( max-width: 768px )
        display: none


// components

.contact-form
    margin: 3rem 0 
    text-align: left

    button[type="submit"]
        margin-bottom: 1rem

.filterbox
    margin-top: 4rem
    margin-bottom: 1rem


.large-margins
    padding-top: 4em
    padding-bottom: 4em


h3.call-to-action
    color: white
    text-transform: uppercase
    padding: 1.8rem


.copyright
    text-align: center
    color: #717171
    font-size: 0.9rem


// buttons

.btn.btn-default.gray
    background: #707070
    color: $white

.zen-button
    position: fixed
    z-index: 99
    @include border-radius( 50px )
    @include grayscale-shadow( 12 , 0.2 )
    font-weight: 100
    font-size: 1.9rem
    border: 1px solid $zen_border
    padding: 30px 
    text-decoration: none 
    text-transform: uppercase
    display: inline-block
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3)
    color: #FFFFFF
    letter-spacing: 4px
    background-color: $zen_gradient_top 
    background-image: -webkit-gradient(linear, left top, left bottom, from($zen_gradient_top), to($zen_gradient_bottom))
    background-image: -webkit-linear-gradient(top, $zen_gradient_top, $zen_gradient_bottom)
    background-image: -moz-linear-gradient(top, $zen_gradient_top, $zen_gradient_bottom)
    background-image: -ms-linear-gradient(top, $zen_gradient_top, $zen_gradient_bottom)
    background-image: -o-linear-gradient(top, $zen_gradient_top, $zen_gradient_bottom)
    background-image: linear-gradient(to bottom, $zen_gradient_top, $zen_gradient_bottom)
    -ms-filter: "filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F15C5D, endColorstr=#F69146)"

.zen-button:hover
    background-color: $zen_rollover_top 
    background-image: -webkit-gradient(linear, left top, left bottom, from($zen_rollover_top), to($zen_rollover_bottom))
    background-image: -webkit-linear-gradient(top, $zen_rollover_top, $zen_rollover_bottom)
    background-image: -moz-linear-gradient(top, $zen_rollover_top, $zen_rollover_bottom)
    background-image: -ms-linear-gradient(top, $zen_rollover_top, $zen_rollover_bottom)
    background-image: -o-linear-gradient(top, $zen_rollover_top, $zen_rollover_bottom)
    background-image: linear-gradient(to bottom, $zen_rollover_top, $zen_rollover_bottom)
    -ms-filter: "filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ed2d2e, endColorstr=#f47415)"

@media screen and ( max-width : 1140px )
    
    .zen-button
        right: 0
        margin-right: 40px
        top: 392px
        position: fixed

@media screen and (max-width : 768px )

    .zen-button
        width: 100%
        @include border-radius( 0 )
        border: none
        bottom: 0
        padding-top: 16px
        padding-bottom: 16px
        border-top: 2px solid #d51214
        bottom: 0
        top: auto
        margin: 0
    
@media screen and ( min-width: 1141px )

    .zen-button
        left: 50%
        margin-left: 310px
        margin-right: 0
        top: 392px


// nav

.ribbon
    margin: 0
    position: fixed
    width: 100%
    z-index: 93

    & svg
        fill: $purple
        height: 140px
        width: 100%


.ribbon-wrapper
    max-width: 1366px 
    padding: 0
    margin: auto
    position: relative


.main-menu
    clear: both
    @include unstyled-list()
    color: white
    text-transform: uppercase
    font-size: 1.8rem
    text-align: center

    li
        line-height: 4rem

    a
        color: white
        text-decoration: none
        font-weight: 300
        padding: 1rem

        &:hover
            font-weight: 500


.menu-wrapper
    position: absolute
    top: 44px
    width: 100%


.menu-group
    @include unstyled-list()
    margin-right: 1.5rem
    
    li
        float: left


.menu-button
    
    a
        color: white
        text-transform: uppercase
        font-weight: 500
        padding: 1rem
        cursor: pointer
        display: block
        line-height: 3rem


.menu-icon
    color: white
    font-size: 2rem


.main-menu-header
    height: auto
    background: none
    position: fixed
    top: 0
    width: 100%
    z-index: 98

    .logo-wrapper
        float: left
        color: white
        text-decoration: none !important
        padding-left: 1rem

    h1.wordmark
        padding: 0
        display: table-cell
        height: 60px
        width: 220px
        vertical-align: middle
        margin: 0
        line-height: 0

    img
        width: 100%

    .logo
        float: left
        max-width: 55px
        margin-left: 1.5rem

    .open-menu
        float: right
        padding: 1rem
        cursor: pointer

    .context-menu
        margin-top: 4px

@media screen and ( max-width: 768px )

    .ribbon svg
        height: 80px
        fill: $purple

    .main-menu-header
        @include grayscale-shadow( 12 , 0.3 )
        background: $purple
        height: 80px

        .menu-wrapper
            top: 12px

        h1.wordmark
            width: 185px

        .logo
            max-width: 55px
            margin-left: 1.2rem

@media screen and ( max-width: 360px )

    .main-menu-header

        h1.wordmark
            width: 145px

    .menu-group
        margin-right: 0.8rem

//

.main-menu-overlay
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0
    color: $white
    background: $purple
    z-index: 100


.main-menu-underlay,
.sign-up-underlay
    @include grayscale-shadow( 12 , 0.3 )
    padding-top: 80px
    position: fixed
    top: 40px
    left: 50%
    width: 180px
    margin-left: 500px
    color: $white
    background: $purple
    background: $lighter_purple
    z-index: 90
    display: none

    .main-menu
        text-align: right

    @media screen and ( max-width: 1440px)

        right: 0px
        left: auto
        margin-left: 0

    @media screen and ( max-width: 768px )

        padding-top: 32px


.close-menu
    float: right    
    padding: 1.6rem 2rem
    cursor: pointer


// compress header when scrolling

.main-menu-header.solid
    @include grayscale-shadow( 12 , 0.3 )
    background: $purple
    height: 80px

    .menu-wrapper
        top: 12px

.ribbon-section.solid

    .ribbon svg
        height: 80px
        fill: $purple

.main-menu-underlay.solid
    padding-top: 50px 


// sections

section 
    width: 100%
    clear: both
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-color: #FFF


section.padded
    padding-top: 2rem
    padding-bottom: 2rem


section.propped-up
    min-height: 320px


section.headspace
    // used in lieu of graphic banner
    height: 144px

@media screen and ( max-width: 768px )

    section.headspace
        height: 80px


section.banner.main
    position: relative
    height: 440px
    overflow: hidden
    background-color: $purple
    background-image: url('/assets/img/header/Zenbanx.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%

    &.bogota
        background-image: url('/assets/img/header/Bogota.png')
    &.la
        background-image: url('/assets/img/header/LA.png')
    &.paris
        background-image: url('/assets/img/header/Paris.png')
    &.thailand
        background-image: url('/assets/img/header/Thailand.png')
    &.zenbanx
        background-image: url('/assets/img/header/Zenbanx.png')


section.sub-main
    
    .content-wrapper
        max-width: 1140px


section.pitch

    .row
        height: auto
        padding: 2rem 0
        min-height: 100px

@media screen and ( min-width: 768px )

    section.pitch

        .row
            padding: 4rem 0
            min-height: 920px


section.divider
    background: $purple
    color: $white

    .content-wrapper
        padding: 75px 50px

    a
        color: $white
        &:hover
            text-decoration: underline


section.divider.inverse
    background: #f9f9f9
    color: $purple

    .content-wrapper
        max-width: 720px

    .review
        color: $purple

    .reviewer
        color: $purple
        font-size: 14px


section.footer
    background: #a09fa0
    margin-top: 1rem
    padding-top: 2rem
    border-top: 1px solid #888

    @media screen and (min-width: 768px)
        margin-top: 10rem


section.legal
   
    h3
        text-transform: uppercase
        font-size: 1.8rem
        color: $gray
        margin-top: 4rem
        border-top: 1px solid $light_gray
        padding-top: 0.8rem 

    h4
        color: $purple
        font-weight: 500
        font-size: 1.5rem
        padding-bottom: 0.7rem
        margin-top: 3rem

    p
        font-size: 1.4rem

    h3
        text-align: left

    ul
        padding-left: 2.4rem
        padding-top: 0.6rem


section.lightbox
    text-align: center

    .content-wrapper
        max-width: 640px

    h2
        line-height: 0

    h3
        text-transform: uppercase
        font-size: 1.8rem
        color: $gray
        margin-top: 1rem
        margin-bottom: 1.4rem
        
    p
        padding: 0.6rem
        margin: 0
        color: $gray
        font-size: 1.3rem

    p.larger
        font-size: 1.9rem

    p.fineprint
        font-size: 0.9rem

    .input-group
        margin: 0.6rem

.lightbox-close
    color: #7D7D7D
    padding: 1rem
    float: right
    font-size: 2rem


@media screen and (max-width: 768px)

    section.toc
        .content-wrapper
            padding-left: 0
            padding-right: 0


// images

.phone-wrapper
    display: block
    margin: 1rem auto
    position: relative
    width: 100%
    max-width: 255px

    .animation
        position: absolute
        top: 79px
        left: 23px
        z-index: 12

        // hide from desktop devices
        @media screen and ( min-width : 768 )
            display: none

        &.webm
            width: 210px
            margin-right: -1px

            // hide from mobile devices
            @media screen and ( max-width : 768 )
                display: none



    .animation.top
        z-index: 15

    #interstitial
        z-index: 20
        
    @media screen and (min-width : 768px )
    
        // to get the parallax effect working, this needs to be absolute
        // otherwise the margin will push down all rows below it
        position: absolute
        margin-left: 10px

        &.sticky
            margin-top: 1px

    @media screen and (min-width : 992px )

        margin-left: 100px


.video-placeholder
    display: block
    margin: 65px auto 0 auto
    width: 100% 
    max-width: 640px
    position: relative

    @media screen and (min-width : 768px )

        margin: 65px auto 55px auto


// lists

.features
    @include unstyled-list()
    color: $gray
    text-align: center
    font-size: 1.8rem
    margin-bottom: 8rem
    
    li
        padding-bottom: 0.8rem

    &.extra
        padding-top: 6rem
        font-size: 17px

    img
        width: 100%

    .image
        display: table-cell
        vertical-align: middle
        height: 120px

    .image-wrapper
        display: inline-block

    .proposition
        padding: 0 24px

    .caption
        padding-top: 0.8rem
        border-top: 1px solid $light_gray

    @media screen and ( min-width : 768px )

        li
            display: inline-block
            padding: 4px
            position: relative
            margin-top: 0
            margin-bottom: 0


    @media screen and ( max-width: 992px ) and ( min-width: 767px )

        li:nth-child(4)
            clear: both
            


.flags
    @include unstyled-list()
    text-align: center
    margin-top: 2rem
    
    li
        @include border-radius( 50% )
        display: inline-block
        margin: 10px

    img
        @include border-radius( 50% )


.social-icons
    @include unstyled-list()  
    color: $white
    font-size: 3rem
    padding: 0 0 2rem 0
    
    li
        color: $white
        display: inline-block
        border: 1px solid $white
        @include border-radius( 50% )
        padding: 0.4rem
        cursor: pointer

        &:hover
            background: $purple

    a
        color: $white

    

.sitemap
    @include unstyled-list()
    text-align: center
    color: #717171
    padding: 2rem

    li
        display: inline-block
        padding: 0.6rem 0.4rem

        &:first-child
            border-left: none

    a
        font-size: 1.2rem
        font-weight: 500
        color: #303030
        text-decoration: none
        text-transform: uppercase

        &:hover
            text-decoration: underline

@media screen and ( max-width : 500px )

    .sitemap

        li
            display: block
            border: none
            padding: 0.6rem 0 0 0


.team
    @include unstyled-list()
    text-align: center
    margin-top: 3rem

    li
        margin: 2rem 1rem
        display: inline-block

    .name
        color: $purple
        font-size: 1.6rem

    .title
        color: $gray
        font-size: 1.7rem 

    img
        width: 180px
        margin-bottom: 1rem


.posts
    @include unstyled-list()
    color: $gray
    font-size: 21px

    li
        margin-bottom: 6rem

    .source
        font-weight: 500

    .date
        color: $purple
        font-size: 18px
        margin: 0

    .media
        font-weight: 500
        font-size: 18px
        margin: 0


.table-of-contents
    @include unstyled-list()
    margin: 3rem 0

    li
        margin-right: 2rem
        border-top: 1px solid $light_gray
        padding: 1rem

        &:last-child
            border-bottom: 1px solid $light_gray

        &:hover
            background: $purple

            a
                color: $white

    a
        text-decoration: none
        text-transform: uppercase
        font-weight: 500
        color: $gray

@media screen and (min-width: 768px)

    section.toc
        background: #F9F9F9

        .content-wrapper
            padding: 0

    .table-of-contents    
        margin: 6rem 0 0 0 

        li
            display: inline-block
            border: none
            
            &:last-child
                border-bottom: none


.app-store-icons
    @include unstyled-list()
    text-align: center

    li
        display: inline-block
        margin: 1.8rem 1.4rem 0 1.8rem


// selling features

h3.feature
    font-size: 30px
    margin-top: 2rem
    padding-bottom: 1rem
    color: $gray
    line-height: 3.1rem
    text-align: center

.feature-description  
    font-size: 1.4rem
    text-align: center

@media screen and ( min-width: 768px )

    h3.feature
        text-align: left

    .feature-description  
        font-size: 1.8rem
        text-align: left
        color: $gray


.review
    color: $off_white
    font-size: 1.2rem
    text-align: center

.reviewer
    font-size: 14px
    font-weight: 500
    text-align: center
    color: white

    a
        text-decoration: underline

@media screen and ( min-width: 768px )

    section.divider
        padding: 2rem 0
    
    .review
        font-size: 2.2rem


.burst
    border: 1px solid $light_gray
    @include border-radius( 2rem )
    padding: 2rem
    max-width: 180px
    color: $purple
    margin: 1.6rem auto
    margin-top: 4rem

    .small
        font-size: 1.1rem
        font-weight: 300

    .large
        font-size: 2.8rem


.credit-card
    margin-top: 4rem

    img
        display: block
        margin: auto


.editor
    margin-bottom: 4rem
    font-size: 18px
    line-height: 25px
    color: $gray

    a
        font-weight: 500
        color: $gray
        

// hide the last separator in an array list

.delimiter
    color: $light_gray

.some-selector
    span:last-child
        .delimiter
            display: none


// horizontal rules

hr.hairline
    background: #CCC
    height: 1px
    border: none
    width: 96%
    margin-left: auto
    margin-right: auto


// default table styles

table

    width: 100%

    tr
        &:nth-child(2n)
            background: #EEE
        &:hover
            background: $light_gray

    td
        padding: 2px


// effects

.hover-opacity
    
    &:hover
        @include opacity(64)


// hide from mobile devices

@media screen and (max-width: 767px)

    .hide-from-mobile
        display: none


// only show mobile

@media screen and (min-width: 768px)

    .hide-from-desktop
        display: none


// page-specific overrides



// modals 

.modal-dialog
    section.headspace
        display: none

.modal
    background: rgba( 12 , 12 , 12 , 0.6 )

