<section>
<div class="content-wrapper">

    <h2>Who We Are</h2>

    <p class="copy">
        ZenBanx Canada was founded in 2014 to introduce Canadians to a simple and secure multi-currency savings account for Citizens of the World. 
        ZenBanx Canada Inc. is a subsidiary of DUCA Financial Services Credit Union Ltd. 
        With offices in Toronto, Silicon Valley, and Delaware, ZenBanx is powered by an experienced banking, foreign exchange, and technology team.
    </p>

    <ul class="team">
        <li>
            <img src="/assets/img/team/arkadi.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Arkadi Kuhlmann
            </h4>
            <h5 class="title">
                CEO
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/richard.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Richard Senechal
            </h4>
            <h5 class="title">
                CEO DUCA
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/geoff.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Geoff Ritchie 
            </h4>
            <h5 class="title">
                VP, Legal, Risk &amp; Compliance
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/john-r.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                John Reynolds 
            </h4>
            <h5 class="title">
                VP, Planning
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/john-h.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                John Harrison
            </h4>
            <h5 class="title">
                VP, Operations
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/meagan.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Meagan VanAndel
            </h4>
            <h5 class="title">
                Director, HR and Admin
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/daniela.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Daniela Bolkart
            </h4>
            <h5 class="title">
                Project Lead
            </h5>
        </li>
    </ul>

</div>
</section>

