<section class="banner main thailand">

    <video autoplay loop muted poster="/assets/img/header/Thailand.png" id="bgvid">
        <source src="/assets/video/Thailand.webmhd.webm" type="video/webm">
        <source src="/assets/video/Thailand.mp4" type="video/mp4">
    </video>

</section>


<section class="padded">
<div class="content-wrapper">

    <h2 class="title">Who We Are</h2>

    <p class="copy">
        ZenBanx was started on the premise that your money is not as free or global as you are. 
    </p>
    <p class="copy">
        ZenBanx is a bank account for citizens of the world – those who live, travel, and work in multiple currencies. 
        We are with you everywhere through our simple mobile application and provide access to your money through a multi currency debit card for use at any ATM, anywhere.
        We liberate your money from costly and hidden fees that other banks typically don’t like to advertise – ours are simple and cheap. 
        We reward your savings with a high competitive interest rate, amongst the highest available. 
    </p>
    <p class="copy">
        Our mission is simple: to make your money as mobile as you are. 
    </p>

</div>
</section>


<section class="divider inverse">
<div class="content-wrapper">

    <p class="review">
        &quot;Why can’t I exchange money from Canadian to Euro’s in an instant without going to a bank branch?&quot; 
    </p>
    <p class="reviewer">
        &mdash; Emma, Toronto 
    </p>
    <hr>
    <p class="reviewer">
        With your ZenBanx account you can hold up to 5 currencies and exchange between them at any time, in real time, in our app.  
    </p>

</div>
</section>
 

<section class="padded">
<div class="content-wrapper">

    <p class="copy">
        ZenBanx was started by industry innovators including Arkadi Kuhlmann who was responsible for creating the ING Direct savings revolution in Canada and the United states. 
        Our Chairman Frank Sanchez built the plumbing for most of the banking infrastructure in use today. 
        Our banking partner DUCA is a leader in providing no-nonsense financial services to its customers.  
    </p>

</div>
</section>

 
<section class="divider inverse">
<div class="content-wrapper">

    <p class="review">
        &quot;I need to send Indian Rupees to my mother for her Birthday. 
        The Bank wants to charge me a minimum of $xx dollars!&quot;
    </p>
    <p class="reviewer">
        As a ZenBanx customer we’ve got you covered.<br> 
        We charge $4.95 regardless of the amount you are sending – it's up to 5x cheaper to use ZenBanx.
    </p>

</div>
</section>


<section class="padded">
<div class="content-wrapper">

    <h2 class="title">Management Team</h2>

    <p class="copy">
        ZenBanx Canada Inc. is a subsidiary of DUCA Financial Services Credit Union Ltd. 
        With offices in Toronto, Silicon Valley, and Delaware, ZenBanx is powered by an experienced banking, foreign exchange, and technology team.
    </p>

    <ul class="team">
        <li>
            <img src="/assets/img/team/arkadi.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Arkadi Kuhlmann
            </h4>
            <h5 class="title">
                CEO
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/richard.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Richard Senechal
            </h4>
            <h5 class="title">
                CEO DUCA
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/geoff.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Geoff Ritchie 
            </h4>
            <h5 class="title">
                VP, Legal, Risk &amp; Compliance
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/john-r.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                John Reynolds 
            </h4>
            <h5 class="title">
                VP, Planning
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/john-h.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                John Harrison
            </h4>
            <h5 class="title">
                VP, Operations
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/meagan.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Meagan VanAndel
            </h4>
            <h5 class="title">
                Director, HR and Admin
            </h5>
        </li>
        <li>
            <img src="/assets/img/team/daniela.png" />
            <h4 class="name">
                <i class="fa fa-fw fa-linkedin-square"></i> 
                Daniela Bolkart
            </h4>
            <h5 class="title">
                Project Lead
            </h5>
        </li>
    </ul>

</div>
</section>

