<section class="lightbox">
<div class="content-wrapper">

    <h2>Contact Us</h2>

    <p class="larger">Send us a love letter, or any questions you may have</p>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">

            <form class="contact-form">
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" id="contact_name" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="contact_email" placeholder="your.name@mail.com">
                </div>
                <div class="form-group">
                    <label for="email">Message</label>
                    <textarea class="form-control" id="contact_message" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <p class="fineprint">
                    At ZenBanx, we never sell any of your information to a third party.
                </p>
            </form>

        </div>
    </div>

    <p class="larger">You can also phone us at 877-ZENBANX (877-936-2269)</p>

</div>
</section>

