
<section class="footer centered">
    <div class="content-wrapper">
        <h3 class="call-to-action">Follow Us</h3>
        <ul class="social-icons">
            <li><i class="fa fa-fw fa-facebook"></i></li>
            <li><i class="fa fa-fw fa-twitter"></i></li>
        </ul>
        <ul class="sitemap">
            <li><a href="/get-zenbanx">Get ZenBanx</a></li>
            <li><a href="/about">Who We Are</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/news">News &amp; Reviews</a></li>
            <li><a href="/contact" target="_blank">Contact Us</a></li>
            <li><a href="/terms">Terms &amp; Conditions</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="copyright">
            ZenBanx Canada Inc. is a subsidiary of DUCA Financial Services Credit Union Ltd.
            &copy; 2014-2015 ZenBanx Canada &tm; <br>
            All Rights Reserved.
        </p>
    </div>
</section>

