
<section class="footer">
    <div class="content-wrapper">
        <ul class="social-icons">
            <li><i class="fa fa-fw fa-facebook"></i></li>
            <li><i class="fa fa-fw fa-twitter"></i></li>
        </ul>
        <ul class="sitemap">
            <li><a href="/test">Test Page</a></li>
            <li><a href="/faq" target="_blank">FAQ</a></li> 
            <li><a href="mailto:info@zenbanx.com?Subject=Hello" target="_blank">Contact</a></li>
        </ul>
        <p class="copyright">
            ZenBanx Canada Inc. is a subsidiary of DUCA Financial Services Credit Union Ltd.
            &copy; 2014-2015 ZenBanx Canada &tm; <br>
            All Rights Reserved.
        </p>
    </div>
</section>

