<section class="lightbox">
<div class="content-wrapper">

    <h2>How to Get ZenBanx</h2>

    <h3>Step One: Get the App</h3>
    <p>We can send you a link over SMS</p>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="123 456 7890" >
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
   
    <p>&mdash; or &mdash;</p> 
    <p>email you a link</p>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="your.email@site.com" >
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    
    <p>&mdash; or &mdash;</p> 
    <p>just download it</p>

    <ul class="app-store-icons">
        <li>
            <a href="#">
                <img src="https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
            </a>
        </li>
    </ul>

    <h3>Step Two: Sign Up for an Account</h3>
    <p>
        When you first open up the ZenBanx app, you will be prompted to sign up for an account. If you have any problems, email us
    </p>

</div>
</section>

