<section class="banner">
<div class="content-wrapper">
    The main background image will go here*
</div>
</section>


<section>
<div class="content-wrapper">

    <h2>Global Banking for Everyone</h2>
    <ul class="features">
        <li>Multiple currencies, one account</li>
        <li>Send money to family and friends anywhere cheaper</li>
        <li>Your money is secure</li>
        <li>Mobile banking re-imagined</li>
        <li>Your life is social, and so is ZenBanx</li>
        <li>Access your money at any ATM</li>
    </ul>

</div>
</section>


<section class="get-zen">
    <button class="zen-button">Get ZenBanx</button>
</section>


<section class="divider">
<div class="content-wrapper">
    <p class="review">
        &quot; Aims to shake up mobile banking with foreign currency exchanges and transfers that are cheaper and easier.&quot;
    </p>
    <p class="reviewer">
        Report on Business 
        <a href="news-and-reviews">Read All the Reviews</a>
    </p>
</div>
</section>


<section class="banner">
<div class="content-wrapper">

    <h2>See How ZenBanx Works</h2>
    <img class="video-placeholder" src="http://lorempixel.com/400/240" alt="See How ZenBanx Works - Video" />

</div>
</section>


<section class="banner">
<div class="content-wrapper">

    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <img class="phone-placeholder" src="http://lorempixel.com/200/480" />
        </div>

        <div class="col-xs-12 col-sm-4">

            <h3 class="feature">Multiple Currencies, <br>One Account</h3>
            <p class="feature-description">
                With your ZenBanx account you can hold and exchange between multiple currencies in an instant through our mobile app and online, 
                no branch visits required and no hidden fees. Finally a bank account as global as you are.
            </p>
            <ul class="flags">
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
                <li><img src="http://lorempixel.com/50/50"/></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3 class="feature">Send Money to Family and Friends Anywhere Cheaper</h3>
            <p class="feature-description">
                Your ZenBanx account lets you transfer funds internationally cheaper than any other bank-it's up to 5 times cheaper than the big banks. 
                And if you are sending money to another ZenBanx customer, it’s absolutely free. 
                There are no hidden fees ever. ZenPay 
            </p> 
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="burst">
                <p>
                    <span class="small">up to</span>
                    <span class="large">5x cheaper</span>
                </p>
            </div> 
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3 class="feature">Your Money is Secure</h3>
            <p class="feature-description">
                Eligible CDN$ deposits held with ZenBanx are protected by deposit insurance up to a combined maximum of $100,000 by the 
                Deposit Insurance Corporation of Ontario – for further details www.dico.com
            </p> 
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3 class="feature">Mobile Banking Re-Imagined</h3>
            <p class="feature-description">
                Hold, exchange, and transfer money between multiple currencies in an instant through the mobile app, no branch visits required and no hidden fees. 
                You can access your ZenBanx account via the web, your iPhone or Android phone anywhere, anytime – it is the future of mobile banking.
            </p> 
        </div>

        <div class="col-xs-12 col-sm-4">
            <img class="phone-placeholder" src="http://lorempixel.com/200/480" />
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3 class="feature">Your Life is Social, and so is ZenBanx</h3>
            <p class="feature-description">
                Creating your ZenBanx network is simple, all it takes is a couple clicks and swipes. 
                Once you do, you can all participate in the savings on every transfer. 
                When you send money to your Zen network our app lets you make your money personal with photos and 
            </p> 
        </div>

        <div class="col-xs-12 col-sm-4">
            <img class="phone-placeholder" src="http://lorempixel.com/200/480" />
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3 class="feature">Access Your Money at any ATM</h3>
            <p class="feature-description">
                Every ZenBanx customer has beautifully designed debit card to access your money through any ATM or to purchase goods at any store. 
                It's just like your regular bank account, only better and global.
            </p> 
        </div>

        <div class="burst">
            <img src="http://lorempixel.com/240/160" />
        </div>

        <div class="col-xs-12 col-sm-4">
            <h3 class="feature">ZenBanx - the mobile multi currency bank account for Citizens of the World</h3>
            <p class="feature-description">
                With your ZenBanx account you can hold and exchange between multiple currencies in an instant through our mobile app and online, 
                no branch visits required and no hidden fees.
            </p> 
        </div>

    </div>

</div>
</section>


<section class="divider">
<div class="content-wrapper">
    <p class="review">
        &quot;Among the ability to send money cheaper and easier, ZenBanx aims to make it social by allowing users to access themed messages for birthdays and other milestones.&quot;
    </p>
    <p class="reviewer">
        iPhone in Canada
        <a href="news-and-reviews">Read All the Reviews</a>
    </p>
</div>
</section>

<section class="banner">
<div class="content-wrapper">

    <ul class="features">
        <li>Earn interest on all your currencies</li>
        <li>No fees converting different currencies</li>
        <li>Simple drag and drop functionality</li>
        <li>Send and receive a photo and note with money transfer </li>
    </ul>

</div>
</section>

