<section class="banner main">

    <!--<img class="fullwidth" src="/assets/img/banner-main.png">-->
    <video autoplay loop muted poster="/assets/img/banner-main.png" id="bgvid">
        <source src="/assets/video/banner-video.webm" type="video/webm">
        <source src="/assets/video/banner-video.mp4" type="video/mp4">
    </video>

</section>


<section class="propped-up sub-main">
<div class="content-wrapper">

    <!--<h1 class="slogan">ZenBanx - the mobile multi currency bank account for Citizens of the World</h1>-->
    <h1 class="slogan">ZenBanx - the mobile bank account for everyone that lives in multiple currencies</h1>
    <ul class="features">
        <li class="col-xs-12 col-sm-4 col-md-2">
            <div class="proposition">
                <div class="image-wrapper">
                    <span class="image">
                        <img src="/assets/img/home_icons/currency-icon.png" />
                    </span>
                </div>
                <p class="caption">
                    Multiple currencies, one account
                </p>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-2">
            <div class="proposition">
                <div class="image-wrapper">
                    <span class="image">
                        <img src="/assets/img/home_icons/send-money-icon.png" />
                    </span>
                </div>
                <p class="caption">
                    Send money to family and friends anywhere cheaper
                </p>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-2">
            <div class="proposition">
                <div class="image-wrapper">
                    <span class="image">
                        <img src="/assets/img/home_icons/secure-icon.png" />
                    </span>
                </div>
                <p class="caption">
                    Your money is secure
                </p>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-2">
            <div class="proposition">
                <div class="image-wrapper">
                    <span class="image">
                        <img src="/assets/img/home_icons/mobile-icon.png" />
                    </span>
                </div>
                <p class="caption">
                    Mobile banking re-imagined
                </p>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-2">
            <div class="proposition">
                <div class="image-wrapper">
                    <span class="image">
                        <img src="/assets/img/home_icons/social-icon.png" />
                    </span>
                </div>
                <p class="caption">
                    Your life is social, and so is ZenBanx
                </p>
            </div>
        </li>
        <li class="col-xs-12 col-sm-4 col-md-2">
            <div class="proposition">
                <div class="image-wrapper">
                    <span class="image">
                        <img src="/assets/img/home_icons/atm-icon.png" />
                    </span>
                </div>
                <p class="caption">
                     Access your money at any ATM
                </p>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>

</div>
</section>


<section class="get-zen">
    <a href="/get-zenbanx">
        <button class="zen-button">Get ZenBanx</button>
    </a>
</section>


<section class="divider">
<div class="content-wrapper">
    <p class="review">
        &quot;Aims to shake up mobile banking with foreign currency exchanges and transfers that are cheaper and easier.&quot;
    </p>
    <p class="reviewer">
        Report on Business 
        <a href="news-and-reviews">Read All the Reviews</a>
    </p>
</div>
</section>


<section class="banner">
<div class="content-wrapper">

    <!--<h2 class="centered">See How ZenBanx Works</h2>-->
    <!--<img class="video-placeholder" src="/assets/img/video-placeholder.png" alt="See How ZenBanx Works - Video" />-->
    <iframe class="video-placeholder" src="https://player.vimeo.com/video/121261157?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>
</section>


<section class="pitch">
<div class="content-wrapper">

    <div class="row">

        <div class="col-xs-12 col-sm-4 col-sm-push-4">

            <!-- mega phone shows all three animations -->
            <div id="mega-phone" class="hide-from-mobile phone-wrapper" ng-class="{sticky: lc.is_sticky(4)}">
                <img class="phone-background" src="/assets/img/phone-background.png" />
                <img class="animation" src="/assets/img/phone-interstitial.png" ng-class="{top: lc.is_animation(0)}" />
                <img class="animation" src="/assets/animations/send-money.gif" ng-class="{top: lc.is_animation(1)}" />
                <img class="animation" src="/assets/animations/add-contact.gif" ng-class="{top: lc.is_animation(2)}" />
                <img class="animation" src="/assets/animations/exchange-money.gif" ng-class="{top: lc.is_animation(3)}" />
                <div class="clearfix"></div>
            </div>
            <!-- mega phone -->

            <div id="first-phone" class="hide-from-desktop phone-wrapper" ng-class="{sticky: lc.is_sticky(1)}">
                <img class="phone-background" src="/assets/img/phone-background.png" />
                <img class="animation" src="/assets/animations/send-money.gif" />
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-pull-4">
        <div class="wow fadeIn" data-wow-delay="0.3s" id="transition-1">
            <h3 class="feature">Multiple Currencies, <br>One Account</h3>
            <p class="feature-description">
                With your ZenBanx account you can hold and exchange between multiple currencies in an instant through our mobile app and online, 
                no branch visits required and no hidden fees. Finally a bank account as global as you are.
            </p>
            <ul class="flags">
                <li><img src="/assets/img/flags/america.png"/></li>
                <li><img src="/assets/img/flags/canada.png"/></li>
                <li><img src="/assets/img/flags/japan.png"/></li>
                <li><img src="/assets/img/flags/india.png"/></li>
                <li><img src="/assets/img/flags/malaysia.png"/></li>
                <li><img src="/assets/img/flags/turkey.png"/></li>
                <li><img src="/assets/img/flags/australia.png"/></li>
                <li><img src="/assets/img/flags/eu.png"/></li>
                <li><img src="/assets/img/flags/england.png"/></li>
            </ul>
        </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
        <div class="wow fadeIn" data-wow-delay="0.3s">
            <h3 class="feature wow fadeIn" data-wow-delay="0.3s">Send Money to Family and Friends Anywhere Cheaper</h3>
            <p class="feature-description">
                Your ZenBanx account lets you transfer funds internationally cheaper than any other bank-it's up to 5 times cheaper than the big banks. 
                And if you are sending money to another ZenBanx customer, it’s absolutely free. 
                There are no hidden fees ever. ZenPay 
            </p> 
            <div class="burst">
                <p>
                    <span class="small">up to</span><br>
                    <span class="large">5x cheaper</span>
                </p>
            </div> 
        </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
        <div class="wow fadeIn" data-wow-delay="0.3s">
            <h3 class="feature">Your Money is Secure</h3>
            <p class="feature-description">
                Eligible CDN$ deposits held with ZenBanx are protected by deposit insurance up to a combined maximum of $100,000 by the 
                Deposit Insurance Corporation of Ontario – for further details www.dico.com
            </p> 
        </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
        <div class="wow fadeIn" data-wow-delay="0.3s">
            <h3 class="feature">Mobile Banking Re-Imagined</h3>
            <p class="feature-description">
                Hold, exchange, and transfer money between multiple currencies in an instant through the mobile app, no branch visits required and no hidden fees. 
                You can access your ZenBanx account via the web, your iPhone or Android phone anywhere, anytime – it is the future of mobile banking.
            </p> 
        </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-sm-push-4">
            <div id="second-phone" class="hide-from-desktop phone-wrapper" ng-class="{sticky: lc.is_sticky(2)}">
                <img class="phone-background" src="/assets/img/phone-background.png" />
                <img class="animation" src="/assets/animations/add-contact.gif" />
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-pull-4">
        <div class="wow fadeIn" data-wow-delay="0.3s" id="transition-2">
            <h3 class="feature">Your Life is Social, and so is ZenBanx</h3>
            <p class="feature-description">
                Creating your ZenBanx network is simple, all it takes is a couple clicks and swipes. 
                Once you do, you can all participate in the savings on every transfer. 
                When you send money to your Zen network our app lets you make your money personal with photos and 
            </p> 
        </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4 col-sm-push-4">
            <div id="third-phone" class="hide-from-desktop phone-wrapper" ng-class="{sticky: lc.is_sticky(3)}">
                <img class="phone-background" src="/assets/img/phone-background.png" />
                <img class="animation" src="/assets/animations/exchange-money.gif" />
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-sm-pull-4">
        <div class="wow fadeIn" data-wow-delay="0.3s" id="transition-3">
            <h3 class="feature">Access Your Money at any ATM</h3>
            <p class="feature-description">
                Every ZenBanx customer has beautifully designed debit card to access your money through any ATM or to purchase goods at any store. 
                It's just like your regular bank account, only better and global.
            </p> 
            <div class="credit-card">
                <img src="/assets/img/credit-card.png" />
            </div>
        </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
        <div class="wow fadeIn" data-wow-delay="0.3s" id="transition-end">
            <h3 class="feature">ZenBanx - the mobile multi currency bank account for Citizens of the World</h3>
            <p class="feature-description">
                With your ZenBanx account you can hold and exchange between multiple currencies in an instant through our mobile app and online, 
                no branch visits required and no hidden fees.
            </p> 
        </div>
        </div>

    </div>

</div>
</section>


<section class="divider">
<div class="content-wrapper">
    <p class="review">
        &quot;Among the ability to send money cheaper and easier, ZenBanx aims to make it social by allowing users to access themed messages for birthdays and other milestones.&quot;
    </p>
    <p class="reviewer">
        iPhone in Canada
        <a href="news-and-reviews">Read All the Reviews</a>
    </p>
</div>
</section>

<section class="banner">
<div class="content-wrapper">

    <ul class="features extra">
        <li class="col-xs-12 col-sm-6 col-md-3">Earn interest on all your currencies</li>
        <li class="col-xs-12 col-sm-6 col-md-3">No fees converting different currencies</li>
        <li class="col-xs-12 col-sm-6 col-md-3">Simple drag and drop functionality</li>
        <li class="col-xs-12 col-sm-6 col-md-3">Send and receive a photo and note with money transfer </li>
        <div class="clearfix"></div>
    </ul>

</div>
</section>

