<section class="main-menu-header">
<div class="content-wrapper">

    <div class="open-menu">
        <i class="fa fa-bars"></i>
    </div>

</div>
</section>

<section class="main-menu-overlay">
<div class="content-wrapper">

    <div class="close-menu">X</div>

    <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">Who We Are</a></li>
        <li><a href="/faq">Frequently Asked Questions</a></li>
        <li><a href="/news">News &amp; Reviews</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/get-zenbanx">Get ZenBanx</a></li>
    </ul>

</div>
</section>

