<div class="navbar navbar-default">
<div class="content-wrapper">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Zen Banking</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <!--
        <ul class="nav navbar-nav">
            <li><a href="/test">T1</a></li>
            <li><a href="/data-test">T2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Username <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
        -->
    </div>
</div>
</div>

