<section class="banner">
    <img class="fullwidth" src="/assets/img/banner-news.png" />
</section>


<section class="padded">
<div class="content-wrapper">

    <h2>News &amp; Reviews</h2>

    <div class="editor">
        <p class="name">
            Cathy MacFarlane, VP Public Affairs, ZenBanx
        </p>
        <p class="contact">
            302-766-1631 <a href="mailto:cathy@zenbanx.ca">email</a>
        </p>
    </div>

    <hr>

    <ul class="posts">
        <li class="col-xs-12 col-sm-6 col-md-4">
            <p>
                <span class="source">Business News Network:</span>
                ING Direct founder launches mobile banking venture
            </p>
            <p class="date">February 2, 2015</p>
            <a class="media" href="#" target="_blank">
                Watch the Video &raquo;
            </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <p>
                <span class="source">Financial Post:</span>
                ING Direct founder back with new mobile banking venture, ZenBanx Canada
            </p>
            <p class="date">January 27, 2015</p>
            <a class="media" href="#" target="_blank">
                Read the Full Story &raquo;
            </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <p>
                <span class="source">Financial Post:</span>
                ING Direct founder back with new mobile banking venture, ZenBanx Canada
            </p>
            <p class="date">January 27, 2015</p>
            <a class="media" href="#" target="_blank">
                Read the Full Story &raquo;
            </a>
        </li>
        <li class="col-xs-12 col-sm-6 col-md-4">
            <p>
                <span class="source">Business News Network:</span>
                ING Direct founder launches mobile banking venture
            </p>
            <p class="date">February 2, 2015</p>
            <a class="media" href="#" target="_blank">
                Watch the Video &raquo;
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>

</div>
</section>

